/*
 * Globals
 */
@font-face {
  font-family: LifeCraft;
  src: url(../fonts/LifeCraft_Font.ttf);
}
@font-face {
  font-family: Alegreya;
  src: url(../fonts/AlegreyaSansSC-Regular.ttf);
}

.center {
  margin: 0 auto;
  display: block;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);

  background-image: url(../imgs/loadscreen-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  overflow: auto;
}

.cover-container {
  max-width: 42em;
}

.scroll-wrapper {
  padding: 0 !important;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  font-family: Alegreya;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-align: center;
  /* text-shadow: 3px 3px 2px rgba(0, 0, 0, 1); */
}

.masthead-brand a:hover {
  text-decoration: none;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.class-header {
  margin-bottom: 1rem;
  align-items: center;
}

.class-header .class-id {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.class-header .class-id img {
  max-width: 50px;
}

.class-header p {
  margin: 0;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

.mastfoot .inner a {
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff;
}

.mastfoot .inner a#contact-link {
  color: #ffffff !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

/* Custom STYLES */
.overlay {
  position: absolute;
  z-index: -1000;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
}

.classIcons a:hover {
  text-decoration: none;
}
.classIcons img {
  border-radius: 12px;
  margin: 0 5px;
  max-width: 60px;
}

.card {
  background-color: #333;
}

/* Class Colors */
.druid {
  color: #ff7d0a;
}
.hunter {
  color: #abd473;
}
.mage {
  color: #69ccf0;
}
.paladin {
  color: #f58cba;
}
.priest {
  color: #ffffff;
}
.rogue {
  color: #fff569;
}
.shaman {
  color: #0070de;
}
.warlock {
  color: #9482c9;
}
.warrior {
  color: #c79c6e;
}

/* Item Rarity Color */
.q {
  color: #fce88e !important;
}
.common,
.q2 {
  color: #1eff00 !important;
}
.rare,
.q3 {
  color: #0070dd !important;
}
.epic,
.q4 {
  color: #a335ee !important;
}
.horde {
  color: red;
}
.alliance {
  color: #2098d1;
}
.grayscale {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.tooltip-inner {
  background-color: #001a33;
  text-align: left;
  border: 1px solid #c0c0c0;
  max-width: 280px !important;
  float: right;
}

.tooltip-inner table {
  width: 100% !important;
}

.tooltip-inner th {
  float: right;
}

.tooltip img {
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  float: left;
  margin-right: 2px;
}

.list-item-active {
  background-color: #f8f9fa;
}

/* Social Icons
************************************************************* */
.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;
}
.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}
.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}
@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    width: auto;
  }
  .social-icons ul {
    margin-top: 0;
    width: auto;
  }
  .social-icons ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .social-icons ul > li:last-child {
    margin-bottom: 0;
  }
  .social-icons ul > li > a {
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  .social-icons ul > li > a:hover {
    background-color: #bbbdbe;
  }
}

@media (max-width: 768px) {
  .cover-heading {
    font-size: 2rem !important;
  }

  .classIcons img {
    margin: 5px !important;
    max-width: 50px !important;
  }
}

@media (max-width: 400px) {
  .masthead-brand {
    font-size: 2.5rem !important;
  }

  .class-header div,
  .class-header p {
    margin: auto !important;
  }

  .lead {
    font-size: 1.1rem !important;
  }

  .nav.nav-tabs {
    flex-direction: column;
  }
}
